<h1>
  Create a recipe
</h1>

<!-- GET /new -->
<form method="POST" action="/new">
  <p>Recipe Name: <input type="text" name="name"></p>
  <p>Description: <input type="text" name="description"></p>
  <p>Prep Time: <input type="text" name="prep_time"></p>
  <p>Difficulty: <input type="text" name="difficulty" value = "Easy"></p>
  <input type="submit" value = "Submit">
</form>
<!-- POST /recipes -->
