<h1>Import a recipe</h1>

<form method="POST" action="/search">
  <p>What ingredient do you have in mind?<br>
    <input type="text" name="ingredient"></p>
  <input type="submit" value = "Search">
</form>

